<!DOCTYPE html>
<html>
    <head>

        <style type="text/css">
            label{
                display: inline-block;
                float: left;
                clear: left;
                width: 120px;
                text-align: right;
            }

            input[type=text] {
              display: inline-block;
              float: left;
              margin-left:2%;
              margin-bottom:1%;
            }

            input[type=submit]{
                float:left;
                clear:left;
                margin-left:250px;
                display: inline-block;

            }

        </style>
    
    </head>
    <body>
        <h2>Projects</h2>
        <h4>Add a project</h4>
        <br />
    <div> 
        <form method="post" action="newItem">

            <label for="name">Project name:</label>
            <input id="name" type="text" name="projectName" />

            <input type="submit" name="submit" />

        </form>

        <br />
        <br />
        <br /></br>
</div>
</body>
</html>
